extends layout

block content
  p
  h2 Current turn: #{char.alias()}
  h3 Making attack: #{attack.name}

  form(method="post" action="attack" onsubmit="return(validate())")
    table
      if attack.secondaryNo > 0 && attack.rollForSecondary
        tbody
          tr
            th(colspan=3) Numbers for secondary attack
          tr
            td Roll
            td
              input(type='number' name='roll' value=1)
            td Bonus
            td(colspan=2)
              input(type='number' name='bonus' value=0)
      tbody
        tr
          th Targets
          th 1°
          th Roll
          th Bonus
          th 2°
        each char in chars
          tr
            td #{char.alias()}
            td
              input(type='checkbox' name=char.name+'_pri')
            td
              input(type='number' name=char.name+'_roll')
            td
              input(type='number' name=char.name+'_bonus' value=0)
            td 
              input(type='checkbox' name=char.name+'_sec')

    input(type="hidden" name="name" value=char.name)
    input(type="hidden" name="attack" value=attack.name)
    input(type="hidden" name="primaryMax" value=attack.primaryMax)
    input(type="hidden" name="secondaryMax" value=attack.secondaryMax)
    input(type="hidden" name="primaryMin" value=attack.primaryMin)
    input(type="hidden" name="secondaryMin" value=attack.secondaryMin)
    input(type="hidden" name="chars" value=charList)
    input(type="hidden" name="stage" value="1")
    p Max = #{attack.primaryMax}
    button(type="submit") Attack
    a(onclick="validate()") Test

  div(id="errors" class="errors")

  include attack_validation.html
