extends layout

block content
  p
  h2 Character: #{char.alias()}
  h2 Attack: #{attack.name}

  form(method="post" action="/attack" onsubmit="return(validate())")
    table
      tbody
        tr
          th Targets
          th 1&deg;
          th Roll
          th Bonus
          th 2&deg;
        each char in chars
          tr
            td #{char.alias()}
            td
              input(type='checkbox' name=char.name+'_pri')
            td
              input(type='number' name=char.name+'_roll')
            td
              input(type='number' name=char.name+'_bonus' value=0)
            td 
              input(type='checkbox' name=char.name+'_sec')
      if attack.secondaryMax > 0 && attack.rollForSecondary
        tbody
          tr
            th(colspan=5) Numbers for secondary attack
          tr
            td(colspan=2)
            td
              input(type='number' name='roll')
            td
              input(type='number' name='bonus' value=0)
            td

    input(type="hidden" name="name" value=char.name)
    input(type="hidden" name="attack" value=attack.name)
    input(type="hidden" name="primaryMax" value=attack.primaryMax)
    input(type="hidden" name="secondaryMax" value=attack.secondaryMax)
    input(type="hidden" name="primaryMin" value=attack.primaryMin)
    input(type="hidden" name="secondaryMin" value=attack.secondaryMin)
    input(type="hidden" name="chars" value=charList)
    input(type="hidden" name="stage" value="1")
    br
    p Max = #{attack.primaryMax}
    button(type="submit") Attack
    a(onclick="validate()") Test

  div(id="errors" class="errors")

  include attack_validation.html
