extends layout

block content
  h2 Character Sheet For #{char.display}
  table(class="unseen")
    tr
      td(style="vertical-align:top")
        
        table(class='big')
          tr
            th Attribute
            th Value
          each field in fields
            if field.display
              tr
                td 
                  i #{field.display}
                td(id=field.name)
              
      td(class="unseen")
        p  
        
      td(style="vertical-align:top")

        table(class='big')
          tr
            th Messages (most recent at top)
          each n in Array.from(Array(20).keys())
            tr
              td
            tr
              td(id='msg' + n class='msg')
              
    tr
      td(colspan=3 class="unseen")

    tr
      td(colspan=3)
        form
          input(type='hidden' id='maxMessages' value=maxMessages)
          input(type='hidden' id='refresh' value=refresh)
          input(type='hidden' id='sender' value=char.name)
          textarea(id='content' style='width:90%; height:40px;')
          br
          | Message to: 
          select(id='recipient')
            option GM
            each name in list
              option #{name}
          |   
          input(type='button' class='small' value='Send' onclick=('sendMessage()'))
          
  script(src="/javascripts/char.js")
