extends layout

block content
  p
  table(class='big')
    tr
      td(class='big top')= chars[0].alias()
      td(class='big top')= chars[0].status()
    tr
      td(class='big next')= chars[1].alias()
      td(class='big next')= chars[1].status()
    each char in chars.slice(2)
      tr
        td(class='big')= char.alias()
        td(class='big')= char.status()