extends layout

block content
  h2 Create A Character
  table(class="unseen")
    tr
      td
        form(method="post" action="/packages")
          table(class='big')
            tbody
              tr
                td(colspan=4)
                  button(type="submit" name="submit_param" value="refresh" class="small") Refresh
                  |  
                  button(type="submit" name="submit_param" value="create" class="small") Create
            tbody
              tr
                th Attribute
                th Value
                th Attribute
                th Value
              tr
                td Name
                td
                  input(type='text' name='name' value=data.name title='Your character must have a unique name')
                td Sex
                td
                  input(type='text' name='sex' value=data.sex title='Probably male or female (no effect on skills, stats, etc.)')
              tr
                td Profession
                td
                  input(type='text' name='profession' value=data.profession title='How your character makes a living (no effect on skills, stats, etc.)')
                td Race
                td
                  input(type='text' name='race' value=data.race title='Your character\'s species, race or ethnicity, as agree with the GM (no effect on skills, stats, etc.)')
              tr
                td Level
                td
                  input(type='number' name='level' value=data.level title='Your character\'s level, as specified by the GM')
                td Points
                td(class=warning title='How many points you have spent, over the total available; if this is yellow you have some to spend, if it is red you have spent too many') #{data.points}/#{data.level * 2 + 2}

            tbody
              - const weaponTip = 'You can select up to four weapons, but your character will only have skill in them if the appropriate packages are also selected'
              tr
                th Weapons
              tr
                td Weapon 1
                td
                  select(name="weapon1" title=weaponTip)
                    option None
                    each weapon in weapons
                      option(selected=(data.weapon1 === weapon.name))
                        =weapon.name
                td Weapon 2
                td
                  select(name="weapon2" title=weaponTip)
                    option None
                    each weapon in weapons
                      option(selected=(data.weapon2 === weapon.name))
                        =weapon.name
              tr
                td Weapon 3
                td
                  select(name="weapon3" title=weaponTip)
                    option None
                    each weapon in weapons
                      option(selected=(data.weapon3 === weapon.name))
                        =weapon.name
                td Weapon 4
                td
                  select(name="weapon4" title=weaponTip)
                    option None
                    each weapon in weapons
                      option(selected=(data.weapon4 === weapon.name))
                        =weapon.name

            tbody
              tr
                th(colspan=3) Package
                th Ranks

            tbody
              each p in packages
                tr
                  td(colspan=3 style="text-align:left")
                    a(href='/packages/' + p.name target="_blank" title='Click here for information on this package (opens in a new tab)') #{p.name}
                  td
                    input(
                      type='number' 
                      name='package_' + p.name
                      value=(data.packages[p.name] ? data.packages[p.name] : 0)
                      min=0
                      max=data.level
                      title='Gain skills and abilities from this package by spending points up to the character\'s current level'
                    )

      td(class="unseen")
        p  
      td(style="vertical-align:top")
        p 
          b
            i Derived attributes
        ul
          each att in ["Armour", "Shield", "Init", "Reflex", "Stamina", "Will"]
            - const value = char[att.toLowerCase()]
            li #{att} (#{value === 0 ? '-' : '+' + value})
        p 
          b
            i Skills, spells, etc.
        ul
          each value, name in char
            if !char.fieldsInclude(name)
              li #{name} (+#{value})