extends layout

block content
  p
  h2 Character: #{char.display}
  h3 Making attack: #{attack.name}

  form(method="post" action="/damage" onsubmit="return(validate())")
    table(width="600")
      tbody
        tr
          th(width="50%") Targets
          th(width="10%") Armour
          th(width="20%") Damage
          th(width="20%") Result
      tbody
        each char in primary
          input(type='hidden' name=char.name+'_primary' value=char.tmp_primary)
          tr
            td #{char.display}
            td #{char.armour}
            case char.tmp_primary
              when consts.CRITICAL_MISS
                td(colspan="2") Critical miss
                input(type='hidden' name=char.name+'_damage' value=0)
              when consts.BAD_MISS
              when consts.PLAIN_MISS
                td(colspan="2") Miss
                input(type='hidden' name=char.name+'_damage' value=0)
              when consts.CRITICAL_HIT
                td Critical
                td #{attack.maxDamage()}
                input(type='hidden' name=char.name+'_damage' value=attack.maxDamage())
              default
                td #{attack.primaryDamage}
                td
                  input(type='number' name=char.name+'_damage' class="damage_input")


      tbody
        tr
        if secondaryFlag
          tr
            td 
              i Secondary target damage
            td -
            td #{attack.secondaryDamage}
            td
              input(type='number' name='secondary_damage')
        each char in secondary
          input(type='hidden' name=char.name+'_secondary' value=char.tmp_secondary)
          tr
            td 
              i #{char.display}
            td #{char.armour}
            td(colspan="2")
              if char.tmp_secondary < consts.PLAIN_HIT
                | Miss
              else
                | Hit


    input(type="hidden" name="name" value=char.name)
    input(type="hidden" name="attack" value=attack.name)
    br
    button(type="submit") Resolve

  div(id="errors" class="errors")
  
  | Secondary targets are in italics

  include damage_validation.html
