extends layout

block content
  h2 Editing Attributes For #{char.alias()}
  form(method="post" action="edit")
    table
      tr
        th Attribute
        th Value
      each field in fields
        if field.display
          tr
            td #{field.display}
            td
              if field.type === 'int'
                input(type='number' name=field.name value=char[field.name])
              else if field.type === 'bool'
                input(type='checkbox' name=field.name checked=char[field.name])
              else if field.type === 'string'
                input(type='text' name=field.name value=char[field.name])
    input(type="hidden" name="name" value=char.name)
    p
    button(type="submit" name="submit_param" value="submit_value" class="link-button") Update
