extends layout

block content
  table(width="1200px" height="800px")
    tr(height="80px")
      td(colspan="2")
        h2 Current character:
          i #{current.alias()}
        p
          a(href="/encounter/delay?char=" + char.name)
            img(src="/images/button-delay.png" width="32" height="32")
          |&nbsp;
          a(href="/encounter/next?char=" + char.name)
            img(src="/images/button-next.png" width="32" height="32")
          |&nbsp;
          a(href="/encounter/refresh?char=" + char.name)
            img(src="/images/button-refresh.png" width="32" height="32")
          |&nbsp;
          a(href="/encounter/add")
            img(src="/images/button-plus.png" width="32" height="32")
        
    tr
      td(width="30%" style="vertical-align:top;")
        h2 Focus: 
          i #{char.alias()}
        
        hr

        h3 Attacks
        if attacks
          table(width="100%" style="border:none")
            each attack in attacks
              tr
                td(width="32")
                  a(href='/encounter/attack?attack=' + attack.name + '&char=' + char.name)
                    img(src="/images/button-" + attack.icon + ".png" width="32" height="32")
                td
                  b #{attack.name}
                td #{attack.notes}
        else
          p No attacks available
              
      td(style="vertical-align:top;")
        table(width="100%" style="border:none")
          each chr in chars
            if !chr.link
              tr
                td(width="32")
                  a(href="/encounter/focus?char=" + chr.name)
                    img(src="/images/button-eye.png" width="32" height="32")
                td(width="32")
                  a(href="/encounter/edit?char=" + chr.name)
                    img(src="/images/button-edit.png" width="32" height="32")
                
                if chr.disabled
                  td(class="dead")
                    =chr.name
                  td --/--
                  td
                else
                  if (chr.name === char.name || chr.name === char.link)
                    td(class="focus" width="35%")
                      b #{chr.name}
                  else
                    td(class="active" width="35%")
                      b #{chr.name}
                  td(width="15%") #{chr.hits}/#{chr.maxHits}
                  - const status = chr.statusReport()
                  td(class="left" width="50%")
                    if status.length > 0
                      |(#{chr.statusReport()})
