extends layout

block content
  table(width="800px" height="800px")
    tr(height="80px")
      td(colspan="2")
        h2 Info
        h3 Current character:
          i #{current.alias()}
        
    tr
      td(width="50%" style="vertical-align:top;")
        h2 Focus: #{char.alias()}
        
        hr
        
        h3 Non-attack options
        ul
          if char === current
            li
              a(href="/encounter/action?action=delay&char=" + char.name) Delay
            li
              a(href="/encounter/action?action=next&char=" + char.name) Next
          else
            li Delay
            li Next
          li
            a(href="/encounter/action?action=edit&char=" + char.name) Edit
          li
            a(href="/encounter/action?action=refresh&char=" + char.name) Refresh
        
        hr

        h3 Attacks
        if attacks
          ul
            each attack in attacks
              li
                a(href='/encounter/attack?attack=' + attack.name + '&char=' + char.name) #{attack.name}
                |  #{attack.notes}
        else
          p No attacks available
              
      td(style="vertical-align:top;")
        table(width="90%")
          each chr in chars
            if !chr.link
              tr
                if chr.disabled
                  td(class="dead")
                    a(href="/encounter/focus?char=" + chr.name)
                      =chr.name
                  td --/--
                  td
                else
                  if (chr.name === char.name || chr.name === char.link)
                    td(class="focus" width="35%")
                      b #{chr.name}
                  else
                    td(class="active" width="35%")
                      a(href="/encounter/focus?char=" + chr.name)
                        b #{chr.name}
                  td(width="15%") #{chr.hits}/#{chr.maxHits}
                  - const status = chr.statusReport()
                  td(class="left" width="50%")
                    if status.length > 0
                      |(#{chr.statusReport()})
