extends layout

block content
  table(width="1200px" height="800px")
    tr(height="80px")
      td(colspan="2")
        h2 Current character:
          i #{current.display}
        p
          a(href="/encounter/inits")
            img(src="/images/button-init.png" width="32" height="32" title="Set initiative scores to determine order")
          |&nbsp;
          a(href="/encounter/delay?char=" + current.name)
            img(src="/images/button-delay.png" width="32" height="32" title="Delay this character's turn until after the next character")
          |&nbsp;
          a(href="/encounter/next?char=" + current.name)
            img(src="/images/button-next.png" width="32" height="32" title="Next: Move on to the next character's turn (and save the game state).")
          |&nbsp;
          a(href="/encounter/load")
            img(src="/images/button-load.png" width="32" height="32" title="Load: Re-load the game state as it was at the start o the current turn (last time \"Next\" was clicked).")
          |&nbsp;
          a(href="/encounter/")
            img(src="/images/button-refresh.png" width="32" height="32" title="Do nothing, just reload the game state (refresh)")
          |&nbsp;
          a(href="/encounter/add-stock?char=" + char.name)
            img(src="/images/button-add-stock.png" width="32" height="32" title="Add a single stock character to the encounter")
          |&nbsp;
          a(href="/encounter/add-file?char=" + char.name)
            img(src="/images/button-add-file.png" width="32" height="32" title="Add a pre-defined set of characters.")
          |&nbsp;
          a(href="/encounter/add-custom?char=" + char.name)
            img(src="/images/button-add-custom.png" width="32" height="32" title="Add a new character that you can edit first.")
        
    tr
      td(width="30%" style="vertical-align:top;")
        h2 Focus: 
          i #{char.display}
        
        hr

        h3 Attacks
        if attacks
          table(width="100%" style="border:none")
            each attack in attacks
              tr
                td(width="32")
                  a(href='/attack?attack=' + attack.name + '&char=' + char.name)
                    img(src="/images/button-" + attack.icon + ".png" width="32" height="32" title="Go to the attack page for this attack")
                td
                  b #{attack.name}
                  if attack.comment
                    br
                    =attack.comment
                td #{attack.notes}
        else
          p No attacks available
              
      td(style="vertical-align:top;")
        table(width="100%" style="border:none")
          each chr in chars
            if !chr.link
              tr
                td(width="32")
                  a(href="/encounter/focus?char=" + chr.name)
                    img(src="/images/button-eye.png" width="32" height="32" title="Set the focus to this character")
                td(width="32")
                  a(href="/char?char=" + chr.name)
                    img(src="/images/button-edit.png" width="32" height="32" title="Edit the stats for this character")
                
                if chr.disabled
                  td(class="disabled")
                    =chr.display
                  td --/--
                  td
                else
                  - let classList = "active"
                  - if (chr.charType === 'pc') classList += " pc"
                  - if (chr.alerts) classList += " alert"
                  - if (chr.dead) classList += " dead"
                  td(class=classList width="35%" title=(chr.alerts ? "This character has alerts active; go to the edit page to see them" : ""))
                    if (chr.name === char.name || chr.name === char.link)
                      i
                        b #{chr.display}
                    else
                      b #{chr.display}
                  td(width="15%") #{chr.hits}/#{chr.maxHits} (#{chr.initScore})
                  - const status = chr.statusReport()
                  td(class="left" width="50%")
                    if status.length > 0
                      |(#{chr.statusReport()})
